@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
    box-sizing: border-box;
}
/* :root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
} */
/* body {
    background-color: #f6f7fb;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
} */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    display:flex;
    background-image: url(https://cloudfront-eu-central-1.images.arcpublishing.com/businessoffashion/KMDVOEAO3BCV7G6RYHPR5RD6F4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height : 100vh;
    width: 100%vh;
    /* background-position: center; */
    /* place-items: center; */
    align-items:center;
    justify-content: center;
    /* justify-items: ; */
    /* text-align: center; */
    /* display:grid; */
    padding: 50px;
    /* width: 100%;
    height: 100%; */
}
h1{
    color: white;
    font-family: 'Muli', sans-serif;
    font-size:65px;
}